@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #e3edf7;
  --background: #050910;
  --primary: #99bce1;
  --secondary: #38257e;
  --accent: #7144c8;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: inter, sans-serif;
}