@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #e3edf7;
  --background: #120b38;
  --primary: #551fd4;
  --secondary: #7635cf;
  --accent: #7b4dbf;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: inter, sans-serif;
}
